{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    {% for post in posts.items %}
      <article class="media content-section">
        <img
            src="{{ url_for('static', filename= 'profile_pics/' + post.author.image_file) }}"
            alt="{{post.author.username}}"
            class="rounded-circle article-img"
        >
        <div class="media-body">
          <div class="article-metadata">
            <a
                class="mr-2"
                href="{{ url_for('user_posts', username=post.author.username) }}"
            >
                {{ post.author.username }}
            </a>
            <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
    <div class="pagination" style="margin: 0 auto; margin-bottom: 30px; width: 230px; display: flex; justify-content: center;">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a
                        href="{{ url_for('home', page=page_num) }}"
                        class="btn btn-info mb-30 mr-1 ml-1"
                    >
                        {{ page_num }}
                    </a>
                {% else %}
                    <a
                        href="{{ url_for('home', page=page_num) }}"
                        class="btn btn-outline-info mb-30 mr-1 ml-1"
                    >
                        {{ page_num }}
                    </a>
                {% endif %}
            {% else %}
                <span class="mb-30 ml-1 mr-1">...</span>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}
